@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > #root > div {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.persons__card-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.home__actions-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing__link, .landing__link:hover {
  color: #f50057;
}

.navbar__link, .navbar__link:hover {
  color: white
}

 .classRoom, .newPerson, .statistics {
  background-image: url('assets/images/background.svg');
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
}

.newPerson {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.statistics__container{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.field {
  display: inline-block;
  margin: 0 0.5em;
}

svg {
  display: block;
  width: 100%;
  height: 400px;
}

.landing__join-classroom {
  display: flex;
  flex-direction: column;
}